In [1]:
import numpy as np
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_d4e412709aa54b8e83745aa3bd481b14 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='lykZ33omkFAu0e3LdHtwJqxN6DPYFUFstCvzYQ6iFjVF',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_d4e412709aa54b8e83745aa3bd481b14.get_object(Bucket='introductiontodeeplearningwithker-donotdelete-pr-pnifruvyqxxtj7',Key='concrete_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
import pandas as pd
import numpy as np

we will be using the dataset provided in the assignment

**The data set is about the compressive strength of different samples of concrete data based on the volumes of the different ingredients that were used to make them ingredients includez:
1. cement
2. Blash Furance Sla
3. Fly ash
4. Water
5. Superplasticizer
6. Coarse Aggregation
7. Fine grade

lets read the data into data frame

In [2]:
df.shape

(1030, 9)

In [3]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
d_columns=df.columns
predictors=df[d_columns[d_columns!='Strength']]
target=df['Strength']

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
n_cols=predictors.shape[1]

In [9]:
n_cols

8

In [34]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

### importing keras

importing keras and keras libraries to build regression model

In [10]:
import keras

Using TensorFlow backend.

In [11]:
from keras.models import Sequential
from keras.layers import Dense

In [57]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The below function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

### Train Test split

In [58]:
from sklearn.model_selection import train_test_split

splitting the data into train and test holding 30 percent of data for testing

In [59]:
X_train,X_test,y_train,y_test=train_test_split(predictors_norm,target,test_size=0.3,random_state=42)

In [60]:
model=regression_model()

now we will use 50 epochs

In [61]:
epochs=50
model.fit(X_train,y_train,epochs=epochs,verbose=2)

Epoch 1/50
 - 2s - loss: 1569.6147
Epoch 2/50
 - 0s - loss: 1540.1604
Epoch 3/50
 - 0s - loss: 1493.8208
Epoch 4/50
 - 0s - loss: 1419.6480
Epoch 5/50
 - 0s - loss: 1306.3165
Epoch 6/50
 - 0s - loss: 1144.9118
Epoch 7/50
 - 0s - loss: 944.8605
Epoch 8/50
 - 0s - loss: 713.4306
Epoch 9/50
 - 0s - loss: 498.6107
Epoch 10/50
 - 0s - loss: 356.7106
Epoch 11/50
 - 0s - loss: 283.1494
Epoch 12/50
 - 0s - loss: 248.3438
Epoch 13/50
 - 0s - loss: 226.7637
Epoch 14/50
 - 1s - loss: 212.4966
Epoch 15/50
 - 0s - loss: 202.3696
Epoch 16/50
 - 0s - loss: 194.4897
Epoch 17/50
 - 0s - loss: 187.5609
Epoch 18/50
 - 0s - loss: 181.5983
Epoch 19/50
 - 0s - loss: 176.5542
Epoch 20/50
 - 0s - loss: 171.8853
Epoch 21/50
 - 0s - loss: 167.9930
Epoch 22/50
 - 0s - loss: 164.3426
Epoch 23/50
 - 0s - loss: 160.6229
Epoch 24/50
 - 0s - loss: 158.0327
Epoch 25/50
 - 0s - loss: 155.1378
Epoch 26/50
 - 0s - loss: 153.0765
Epoch 27/50
 - 0s - loss: 151.1232
Epoch 28/50
 - 0s - loss: 148.7845
Epoch 29/50
 - 0s - loss: 147.7387
Epoch 30/50
 - 0s - loss: 145.2530
Epoch 31/50
 - 2s - loss: 143.7669
Epoch 32/50
 - 1s - loss: 141.4505
Epoch 33/50
 - 0s - loss: 139.9285
Epoch 34/50
 - 0s - loss: 138.3943
Epoch 35/50
 - 0s - loss: 136.7387
Epoch 36/50
 - 0s - loss: 134.8895
Epoch 37/50
 - 0s - loss: 133.2113
Epoch 38/50
 - 0s - loss: 131.6963
Epoch 39/50
 - 0s - loss: 129.8712
Epoch 40/50
 - 0s - loss: 127.6346
Epoch 41/50
 - 0s - loss: 125.8204
Epoch 42/50
 - 0s - loss: 123.4967
Epoch 43/50
 - 0s - loss: 121.3989
Epoch 44/50
 - 0s - loss: 119.2549
Epoch 45/50
 - 0s - loss: 116.4705
Epoch 46/50
 - 0s - loss: 114.2748
Epoch 47/50
 - 1s - loss: 111.4301
Epoch 48/50
 - 0s - loss: 109.1269
Epoch 49/50
 - 0s - loss: 106.5429
Epoch 50/50
 - 0s - loss: 104.2263

In [62]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 668us/step

109.64651225068422

In [63]:
from sklearn.metrics import mean_squared_error

In [64]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

109.64651544778108 0.0

create a list of 50 mean squared erors and report mean and the standard deviation of the mean squared errors

In [65]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 56.51113515069955
MSE 2: 50.26845269064302
MSE 3: 35.533987508236784
MSE 4: 34.26602679008805
MSE 5: 33.71022073196362
MSE 6: 34.715479952617756
MSE 7: 38.4329921635995
MSE 8: 28.060531647074185
MSE 9: 29.892899658301886
MSE 10: 29.55323012515565
MSE 11: 26.028181613070295
MSE 12: 22.223896434006182
MSE 13: 26.913343938808996
MSE 14: 28.287514794605837
MSE 15: 25.597301088104743
MSE 16: 20.113345957882583
MSE 17: 23.671483604653368
MSE 18: 23.10682305086006
MSE 19: 20.539757108225405
MSE 20: 23.759732656880104
MSE 21: 21.65310364016437
MSE 22: 20.801318949480272
MSE 23: 18.446061245446067
MSE 24: 20.69328191442397
MSE 25: 23.532029642642122
MSE 26: 24.24671129887158
MSE 27: 21.986505656566436
MSE 28: 21.630723045867622
MSE 29: 22.880647776582094
MSE 30: 20.316082494544364
MSE 31: 20.94342117556476
MSE 32: 16.772501652294764
MSE 33: 16.908759663405927
MSE 34: 20.82455885063097
MSE 35: 19.25179471012844
MSE 36: 25.276205124592703
MSE 37: 18.666018026160575
MSE 38: 17.960920599286226
MSE 39: 19.500282673388238
MSE 40: 17.65384775303714
MSE 41: 21.56971918494956
MSE 42: 17.92069185435965
MSE 43: 20.47917437630564
MSE 44: 23.465452132487375
MSE 45: 24.873029900214433
MSE 46: 18.616629893725744
MSE 47: 20.819820638613407
MSE 48: 16.824633829801986
MSE 49: 20.98952322407448
MSE 50: 18.664803708641273


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 24.50709195248427
Standard Deviation: 7.8422599543594345

### comments on part D

increasing the number of hidden layers decreased the mean of mean squared errors