In [1]:
import numpy as np
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_d4e412709aa54b8e83745aa3bd481b14 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='lykZ33omkFAu0e3LdHtwJqxN6DPYFUFstCvzYQ6iFjVF',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_d4e412709aa54b8e83745aa3bd481b14.get_object(Bucket='introductiontodeeplearningwithker-donotdelete-pr-pnifruvyqxxtj7',Key='concrete_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
import pandas as pd
import numpy as np

we will be using the dataset provided in the assignment

**The data set is about the compressive strength of different samples of concrete data based on the volumes of the different ingredients that were used to make them ingredients includez:
1. cement
2. Blash Furance Sla
3. Fly ash
4. Water
5. Superplasticizer
6. Coarse Aggregation
7. Fine grade

lets read the data into data frame

In [2]:
df.shape

(1030, 9)

In [3]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
d_columns=df.columns
predictors=df[d_columns[d_columns!='Strength']]
target=df['Strength']

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
n_cols=predictors.shape[1]

In [9]:
n_cols

8

In [34]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

### importing keras

importing keras and keras libraries to build regression model

In [10]:
import keras

Using TensorFlow backend.

In [11]:
from keras.models import Sequential
from keras.layers import Dense

In [48]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The below function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

### Train Test split

In [49]:
from sklearn.model_selection import train_test_split

splitting the data into train and test holding 30 percent of data for testing

In [50]:
X_train,X_test,y_train,y_test=train_test_split(predictors_norm,target,test_size=0.3,random_state=42)

In [51]:
model=regression_model()

now we will use 50 epochs

In [52]:
epochs=50
model.fit(X_train,y_train,epochs=epochs,verbose=2)

Epoch 1/50
 - 1s - loss: 1608.6944
Epoch 2/50
 - 0s - loss: 1591.1129
Epoch 3/50
 - 0s - loss: 1573.3794
Epoch 4/50
 - 0s - loss: 1555.4551
Epoch 5/50
 - 0s - loss: 1537.0732
Epoch 6/50
 - 0s - loss: 1518.2298
Epoch 7/50
 - 0s - loss: 1498.7033
Epoch 8/50
 - 0s - loss: 1478.4218
Epoch 9/50
 - 0s - loss: 1457.8578
Epoch 10/50
 - 0s - loss: 1435.9506
Epoch 11/50
 - 0s - loss: 1413.7841
Epoch 12/50
 - 0s - loss: 1390.3391
Epoch 13/50
 - 0s - loss: 1366.2740
Epoch 14/50
 - 0s - loss: 1341.1057
Epoch 15/50
 - 0s - loss: 1315.1341
Epoch 16/50
 - 0s - loss: 1288.1508
Epoch 17/50
 - 0s - loss: 1260.4448
Epoch 18/50
 - 0s - loss: 1231.7798
Epoch 19/50
 - 0s - loss: 1202.1021
Epoch 20/50
 - 0s - loss: 1171.2681
Epoch 21/50
 - 0s - loss: 1140.3337
Epoch 22/50
 - 0s - loss: 1108.3396
Epoch 23/50
 - 0s - loss: 1075.0268
Epoch 24/50
 - 0s - loss: 1041.9661
Epoch 25/50
 - 0s - loss: 1007.3202
Epoch 26/50
 - 0s - loss: 972.1352
Epoch 27/50
 - 0s - loss: 936.7108
Epoch 28/50
 - 0s - loss: 900.9173
Epoch 29/50
 - 0s - loss: 864.8993
Epoch 30/50
 - 0s - loss: 828.6738
Epoch 31/50
 - 0s - loss: 793.1459
Epoch 32/50
 - 0s - loss: 757.6961
Epoch 33/50
 - 0s - loss: 722.7206
Epoch 34/50
 - 0s - loss: 688.6542
Epoch 35/50
 - 0s - loss: 655.5109
Epoch 36/50
 - 0s - loss: 623.1702
Epoch 37/50
 - 0s - loss: 591.7569
Epoch 38/50
 - 0s - loss: 561.7205
Epoch 39/50
 - 0s - loss: 532.6867
Epoch 40/50
 - 0s - loss: 505.5045
Epoch 41/50
 - 0s - loss: 479.5259
Epoch 42/50
 - 0s - loss: 455.5533
Epoch 43/50
 - 1s - loss: 432.7920
Epoch 44/50
 - 0s - loss: 411.1122
Epoch 45/50
 - 0s - loss: 391.5064
Epoch 46/50
 - 0s - loss: 372.5045
Epoch 47/50
 - 0s - loss: 355.1564
Epoch 48/50
 - 0s - loss: 338.9762
Epoch 49/50
 - 0s - loss: 323.8948
Epoch 50/50
 - 0s - loss: 310.0452

In [53]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 402us/step

303.88366590580125

In [54]:
from sklearn.metrics import mean_squared_error

In [55]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

303.88366955271823 0.0

create a list of 50 mean squared erors and report mean and the standard deviation of the mean squared errors

In [56]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 113.54087486390543
MSE 2: 95.67088236392124
MSE 3: 70.1594150382724
MSE 4: 64.20860104113335
MSE 5: 59.044077703482124
MSE 6: 52.750329891069036
MSE 7: 49.452868464695214
MSE 8: 37.276810544208416
MSE 9: 39.482001196605104
MSE 10: 39.54185866075041
MSE 11: 39.03387774618698
MSE 12: 35.40148986890478
MSE 13: 43.61630794685635
MSE 14: 44.58638259739552
MSE 15: 36.31962797788355
MSE 16: 33.078962696408766
MSE 17: 38.505597259620245
MSE 18: 36.58522941688118
MSE 19: 35.68390140718627
MSE 20: 35.72430090302402
MSE 21: 33.948321765294736
MSE 22: 33.83556003632283
MSE 23: 30.649504751063475
MSE 24: 33.52287809131215
MSE 25: 35.97267100880447
MSE 26: 35.82600285551695
MSE 27: 32.09020343027454
MSE 28: 32.528962638385856
MSE 29: 39.540163490764535
MSE 30: 37.36369132378341
MSE 31: 31.50815026736954
MSE 32: 32.61487710823133
MSE 33: 33.301552010199785
MSE 34: 35.78897521873894
MSE 35: 35.69415846148741
MSE 36: 42.02688120869757
MSE 37: 29.558154856117028
MSE 38: 36.867880935422036
MSE 39: 34.50450662656124
MSE 40: 30.22467479273725
MSE 41: 37.539707924555806
MSE 42: 30.107685113801924
MSE 43: 35.66864308107247
MSE 44: 38.61696655619106
MSE 45: 37.26157490258078
MSE 46: 38.322774090813205
MSE 47: 33.15608027683493
MSE 48: 37.37495729761216
MSE 49: 36.05628545075945
MSE 50: 39.31227637726126


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 41.008961868299
Standard Deviation: 15.34114800671939

### comments on part c compared to part B

increasing the number of epochs from 50 to 100 decreased the mean of the mean squared data