In [1]:
import numpy as np
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_d4e412709aa54b8e83745aa3bd481b14 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='lykZ33omkFAu0e3LdHtwJqxN6DPYFUFstCvzYQ6iFjVF',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_d4e412709aa54b8e83745aa3bd481b14.get_object(Bucket='introductiontodeeplearningwithker-donotdelete-pr-pnifruvyqxxtj7',Key='concrete_data.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [2]:
import pandas as pd
import numpy as np

we will be using the dataset provided in the assignment

**The data set is about the compressive strength of different samples of concrete data based on the volumes of the different ingredients that were used to make them ingredients includez:
1. cement
2. Blash Furance Sla
3. Fly ash
4. Water
5. Superplasticizer
6. Coarse Aggregation
7. Fine grade

lets read the data into data frame

In [2]:
df.shape

(1030, 9)

In [3]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
d_columns=df.columns
predictors=df[d_columns[d_columns!='Strength']]
target=df['Strength']

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [8]:
n_cols=predictors.shape[1]

In [9]:
n_cols

8

### importing keras

importing keras and keras libraries to build regression model

In [10]:
import keras

Using TensorFlow backend.

In [11]:
from keras.models import Sequential
from keras.layers import Dense

The below function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

In [12]:
def regression_model():
    model=Sequential()
    model.add(Dense(10,activation='relu',input_shape=(n_cols,)))
    model.add(Dense(1))
    model.compile(optimizer='adam',loss='mean_squared_error')
    return model

### Train Test split

In [13]:
from sklearn.model_selection import train_test_split

splitting the data into train and test holding 30 percent of data for testing

In [17]:
X_train,X_test,y_train,y_test=train_test_split(predictors,target,test_size=0.3,random_state=42)

In [18]:
model=regression_model()

now we will use 50 epochs

In [19]:
epochs=50
model.fit(X_train,y_train,epochs=epochs,verbose=1)

Epoch 1/50
721/721 [==============================] - 1s 2ms/step - loss: 1742.4557
Epoch 2/50
721/721 [==============================] - 0s 166us/step - loss: 1346.9068
Epoch 3/50
721/721 [==============================] - 0s 223us/step - loss: 1084.2689
Epoch 4/50
721/721 [==============================] - 0s 156us/step - loss: 912.3195
Epoch 5/50
721/721 [==============================] - 0s 222us/step - loss: 789.1930
Epoch 6/50
721/721 [==============================] - 2s 3ms/step - loss: 663.7099
Epoch 7/50
721/721 [==============================] - 0s 187us/step - loss: 544.0256
Epoch 8/50
721/721 [==============================] - 0s 182us/step - loss: 420.7763
Epoch 9/50
721/721 [==============================] - 0s 206us/step - loss: 333.8769
Epoch 10/50
721/721 [==============================] - 0s 184us/step - loss: 292.4063
Epoch 11/50
721/721 [==============================] - 0s 195us/step - loss: 271.7644
Epoch 12/50
721/721 [==============================] - 0s 195us/step - loss: 258.5675
Epoch 13/50
721/721 [==============================] - 0s 160us/step - loss: 245.6118
Epoch 14/50
721/721 [==============================] - 0s 188us/step - loss: 234.8629
Epoch 15/50
721/721 [==============================] - 0s 176us/step - loss: 224.9505
Epoch 16/50
721/721 [==============================] - 0s 197us/step - loss: 218.5991
Epoch 17/50
721/721 [==============================] - 0s 177us/step - loss: 209.6030
Epoch 18/50
721/721 [==============================] - 0s 166us/step - loss: 202.1870
Epoch 19/50
721/721 [==============================] - 0s 168us/step - loss: 195.4767
Epoch 20/50
721/721 [==============================] - 0s 234us/step - loss: 190.1966
Epoch 21/50
721/721 [==============================] - 0s 211us/step - loss: 184.5056
Epoch 22/50
721/721 [==============================] - 0s 185us/step - loss: 179.5001
Epoch 23/50
721/721 [==============================] - 0s 141us/step - loss: 174.3405
Epoch 24/50
721/721 [==============================] - 0s 173us/step - loss: 170.1717
Epoch 25/50
721/721 [==============================] - 0s 161us/step - loss: 165.0829
Epoch 26/50
721/721 [==============================] - 0s 167us/step - loss: 160.5517
Epoch 27/50
721/721 [==============================] - 0s 182us/step - loss: 157.5838
Epoch 28/50
721/721 [==============================] - 0s 176us/step - loss: 153.9095
Epoch 29/50
721/721 [==============================] - 0s 168us/step - loss: 149.7318
Epoch 30/50
721/721 [==============================] - 0s 176us/step - loss: 146.4651
Epoch 31/50
721/721 [==============================] - 0s 145us/step - loss: 143.4392
Epoch 32/50
721/721 [==============================] - 0s 199us/step - loss: 141.4119
Epoch 33/50
721/721 [==============================] - 0s 161us/step - loss: 138.8368
Epoch 34/50
721/721 [==============================] - 0s 163us/step - loss: 136.2929
Epoch 35/50
721/721 [==============================] - 0s 184us/step - loss: 133.9584
Epoch 36/50
721/721 [==============================] - 0s 235us/step - loss: 132.1451
Epoch 37/50
721/721 [==============================] - 0s 170us/step - loss: 129.1258
Epoch 38/50
721/721 [==============================] - 0s 153us/step - loss: 128.0098
Epoch 39/50
721/721 [==============================] - 0s 186us/step - loss: 126.3486
Epoch 40/50
721/721 [==============================] - 0s 158us/step - loss: 123.5782
Epoch 41/50
721/721 [==============================] - 0s 171us/step - loss: 121.3390
Epoch 42/50
721/721 [==============================] - 0s 170us/step - loss: 119.5429
Epoch 43/50
721/721 [==============================] - 0s 156us/step - loss: 117.9916
Epoch 44/50
721/721 [==============================] - 0s 178us/step - loss: 116.8743
Epoch 45/50
721/721 [==============================] - 0s 157us/step - loss: 116.0768
Epoch 46/50
721/721 [==============================] - 0s 182us/step - loss: 115.3866
Epoch 47/50
721/721 [==============================] - 0s 149us/step - loss: 113.2670
Epoch 48/50
721/721 [==============================] - 0s 195us/step - loss: 111.9187
Epoch 49/50
721/721 [==============================] - 0s 161us/step - loss: 112.1015
Epoch 50/50
721/721 [==============================] - 0s 162us/step - loss: 111.8915

In [21]:
loss_val=model.evaluate(X_test,y_test)
y_pred=model.predict(X_test)
loss_val

309/309 [==============================] - 0s 325us/step

112.79872699231392

In [22]:
from sklearn.metrics import mean_squared_error

In [32]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

43.901672105484714 0.0

create a list of 50 mean squared erors and report mean and the standard deviation of the mean squared errors

In [33]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 36.98788754608253
MSE 2: 48.744769296985616
MSE 3: 41.909984329371774
MSE 4: 43.76476592770672
MSE 5: 46.073634545779925
MSE 6: 43.637728928748075
MSE 7: 48.49867275694813
MSE 8: 37.60460587535476
MSE 9: 43.35289887857283
MSE 10: 42.23282075159758
MSE 11: 40.733972395122244
MSE 12: 39.551597774221676
MSE 13: 45.716449802361645
MSE 14: 44.63264846801758
MSE 15: 43.87756039023785
MSE 16: 38.10352840855669
MSE 17: 40.50599601893749
MSE 18: 42.3534804779349
MSE 19: 38.39376597728544
MSE 20: 42.564793781169406
MSE 21: 39.13739188975115
MSE 22: 39.42696976893156
MSE 23: 42.87117579685446
MSE 24: 42.43623296496938
MSE 25: 41.666453784337705
MSE 26: 41.80055625693312
MSE 27: 41.320526209463964
MSE 28: 39.815151683720956
MSE 29: 46.54109942488686
MSE 30: 40.49707262724348
MSE 31: 42.94738880638938
MSE 32: 38.6783135485109
MSE 33: 35.5977906285752
MSE 34: 42.250993833572736
MSE 35: 45.20765179877914
MSE 36: 45.31503684775343
MSE 37: 45.292410193137755
MSE 38: 41.80221525519411
MSE 39: 40.967740549624544
MSE 40: 36.084315105549344
MSE 41: 43.927322276587624
MSE 42: 39.26818083482267
MSE 43: 39.1599270471863
MSE 44: 47.72084744154057
MSE 45: 44.99481074015299
MSE 46: 48.68716793615841
MSE 47: 41.89877719323612
MSE 48: 44.645718176388044
MSE 49: 46.21921773867314
MSE 50: 47.05918644778551


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 42.44958340759123
Standard Deviation: 3.256898499982256